<div class="head-container">
    <div class="heading">
        <h2>Jobs List</h2>
    </div>
    <div class="add-job-button-container">
        <button mat-raised-button color="primary" (click)="addJob()">Add Job</button>
    </div>
</div>

<div class="container">
    <div class="left-panel">
        <div *ngFor="let jobPost of jobPosts">
            <mat-card class="custom-mat-card" (click)="onSelect(jobPost)">
                <mat-card-title class="custom-mat-card-title">{{ jobPost.title }}</mat-card-title>
                <mat-card-content>Job ID: {{ jobPost.jobId }}</mat-card-content>
                <mat-card-content>Company: {{ jobPost.employer }}</mat-card-content>
                <mat-card-content *ngIf="jobPost.category">Category: {{ jobPost.category }}</mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="right-panel">
        <div *ngIf="selectedJobPost">
            <h2>{{ selectedJobPost.title }}</h2>
            <p>Posted At: {{ selectedJobPost.postedAt | date: 'd MMM, Y hh:mm a' }}</p>
            <p>Job ID: {{ selectedJobPost.jobId }}</p>
            <p>Company: {{ selectedJobPost.employer }}</p>
            <p>Location: {{ selectedJobPost.location.city }} , {{ selectedJobPost.location.state }} , {{
                selectedJobPost.location.country }} , {{ selectedJobPost.location.zip }}</p>
            <p *ngIf="selectedJobPost.category">Category: {{ selectedJobPost.category }}</p>
            <p><span [innerHTML]="selectedJobPost.body"></span></p>
            <!-- Add more job post details here -->
        </div>
    </div>
</div>